.logo {
    font-family: "michroma";
    font-size: 2rem;
    color: #D8A3FF;
    padding: 1rem;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1E073C;
    margin-bottom: 4rem;
  }

  .accentColor {
    color: #CBF55C;
  }