/* SEARCH BAR */

.searchBar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.searchBarForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInput {
    padding: 0.75rem 4rem;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #240046;
    font-size: 1rem;
    
}

.userInput::placeholder {
    font-size: 1rem;
}

.userInput:focus {
    border: 1.25px solid #CBF55C;
    outline: 1.25px solid #CBF55C;
}

.searchButton {
    margin-top: .125rem;
    padding: .5rem 1rem;
}

.buttonText {
    display: block;
}
.searchImg {
    display: none;
}

/* Media Query */

@media only screen and (max-width: 910px) {
    .searchBar {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .userInput {
        padding: 0.75rem 3rem;
    }

    .searchButton {
        padding: .7rem 1rem;
    }

    .buttonText {
        display: none;
    }

    .searchImg {
        display: block;
        width: 100%;
    }

}