.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    min-width: 25rem;
    max-width: 25rem;
    height: 31.25rem;
    overflow: scroll;
    background-color: #170025bd;
    border-radius: 2rem;
}

.hide {
    display: none;
}

.titleContainer {
    margin-top: .4rem;
    width: 100%;
}
.sectionTitle {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #394032;
    font-size: 1.75rem;
    line-height: 1.3;
    color: #d1c9d9;
    font-family: Arial;
}

@media only screen and (max-width: 500px) {
    .container {
        min-width: 22rem;
        max-width: 22rem;
    }
}