.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    min-width: 25rem;
    max-width: 25rem;
    height: 31.25rem;
    overflow: scroll;
    background-color: #170025bd;
}

input {
    width: 200px;
}