html {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #300d50;
  color: #d1c9d9;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}


button,
.button {
  padding: 0.5rem;
  margin: 1rem;
  border: 2px solid #ff6600;
  border-radius: .5rem;
  background-color: #ff6600;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}

button:hover,
.button:hover {
  color: #f8f1fa;
  background-color: #f77d2b;
  border: 2px solid #f77d2b;
}

button:active,
.button:active {
  color: #deebec;
  background-color: #cc5200;
  border: 2px solid #cc5200;
}
